html{ 
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.98rem; 
    letter-spacing: 0.34rem; 
    line-height: 1.5; 
    background:rgb(219, 217, 217);
} 
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.nav-header img:not(.logo){
    width: 100%; 
} 
.nav-header img{
    display: block;
} 
h1,h2,h3,h4{
    letter-spacing: 0.34rem; 
    text-transform: capitalize;
    line-height: 1.24rem; 
    margin-bottom: 2rem;
    font-family: sans-serif;
}
h1{
    font-size: 1.98rem;
}
h2{
    font-size: 0.94rem;
}
h3{
    font-size: 1.23rem;
}
h4{
    font-size: 0.96rem;
}
p{
     margin-bottom: 1.23rem; 
     color: black;
}     
@media screen and (min-width:800px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.76rem;
    }
    h4{
        font-size: 1rem;
    }
    h1,h2,h3,h4{
        line-height: 1;
    }
    #banner{
        min-height: 90vh;
    }
    #about{
        min-height: 70vh;
    }
    #menu{
        min-height: 80vh;
    } 
    .btn{
        text-transform: uppercase;
        background: transparent;
        color: black;
        padding: 0.374rem 0.76rem;
        letter-spacing: 0.34rem;
        display: inline-block;
        transition: all 0.4s ease;
        font-size: 0.78rem;
        border: 2px solid black;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    .btn:hover{
        color: black;
        background: rgb(201, 181, 181);
    }
    .btn-white{
        color: black;
        border-color: rgb(190, 189, 186);
        border-radius: 33px;
        padding: 0.4rem 1rem;
    } 
    .btn:hover{
        background: rgb(250, 249, 249);
        color: black;
    } 
} 
@media screen and (min-width:992px){
    nav{
        background-color: rgb(192, 103, 103); 
        padding: 1rem 1.3rem; 
    }
    .fixed-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(240, 238, 234);
        box-shadow: .1rem;
    } 
    .fixed-nav .links a{
        color: rgb(139, 137, 137);
    }
    .fixed-nav .links a:hover{
        color: rgb(233, 141, 141);
    }  
    /* .fixed-nav .links-container{
        height: auto !important;
    }    */
    .nav-header{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }  
    .nav-toggle{
        font-size: 1.2rem;
        color: black;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    .nav-toggle:hover{
        color: aliceblue;
    }  
    .nav-header img .logo{
        height: 10px; 
        margin-right: 93%;
     }    
    .links-container{
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;
    } 
    .show-links{
        height: 300px;
    } 
    .links a{
        background:white;
        color: hsl(210,22%,49%);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: .3rem;
        display: block;
        transition: all 0.3s linear;
        font-weight: bold;
        padding: 0.75rem 0;
    }
    .links a:hover{
        color: rgb(245, 153, 153);
    }  
    .menu{
        padding: 2rem 0;
    }
    .menu .title{
        padding: 2rem;
        text-align: center;
    }
    .btn-container{
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
    }
    .filter-btn{
        background: transparent;
        border-color: black;
        font-size: 1rem;
        text-transform: capitalize;
        margin: 0 0.5rem;
        letter-spacing: 1px;
        border-radius: 3px;
        padding: 0.34rem 0.76rem;
        color: black;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .filter-btn:hover{
        background: rgb(180, 180, 180);
        color: black;
    } 
    .section-center{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem 2rem;
        margin: 10px;
        cursor: pointer;
        transition: 0.3 all ease-in-out;
    }
    .menu-item{
        background: rgb(236, 231, 241);
        margin-left: 12px;
        gap: 1rem;
    }
    .menu{
        background: rgb(226, 225, 225);
    }
    .menu-item img{
        display: grid;
        background: palegoldenrod;
        gap: 2rem 1rem;
        max-width: 23rem;
        border-radius: 20px;
        margin: 20px;
        width: 120px;
        height: 120px;
    }
    .menu-item h4{
        text-align: center;
        padding: 8px;
    } 
    .dishes .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
        gap: 1.5rem;
    }  
    /* .about{
        background-color: rgb(253, 246, 246);
    } */
    .title{
        padding-top: 19px;
        text-align: center;
    }
    .about .row{
        display:flex;
        flex-direction: wrap;
        gap: 1.4rem;
        align-items: center;
    }
    .about .row .image{
       margin-left: 32px;
    }
    .about .row .content{
        margin-left: 32px;
    }
    .about .row .content h3{
        font-size: 1.65rem;
        gap: 2px;
        color: rgb(101, 154, 175);
     }
    .about .row .content p{
        color: rgb(26, 25, 25);
        font-size: 1.10rem;
        /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        gap: 1px;
    }
  
    #rupees{
        font-size: 12px;
        text-align: center;
    }  
}
@media screen and (min-width:800px){
    nav{
        background: transparent; 
    }
    .nav-center{
        width: 140vw; 
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .nav-header{
        padding: 0;
    }
    .nav-toggle{
        display: none;
    }
    .links-container{
        height: auto !important;
    }  
    .links{
        display: flex;
    }
    .links a{
        background: transparent;
        color: rgb(216, 213, 213);
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: 0.34px;
        display: block;
        transition: all 0.3s ease;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }
    .links a:hover{
        color: black;
    }   
    header{
       min-height: 100vh;
       background: linear-gradient(rgba(184, 185, 185, 0.5),rgba(75, 73, 73, 0.7)),
       url(./images\ \(1\).jpg) center/cover no-repeat;
    }
    .banner{
        min-height: 100vh;
        display: grid;
        place-items: center;
        text-align: center;
    }
    .container h1{
        color: rgb(223, 218, 218);
        text-transform: uppercase;
    }
    .container p{
        color: rgb(226, 221, 221);
        max-width: 23rem;
        margin: 0 auto;
        margin-bottom: 1.23rem;
    } 
}
@media screen and (min-width:768px){
    .container p{
        max-width: 40rem; 
    }
    /* .footer{
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(230px,auto));
        list-style-type: none;
        gap: 0.8rem;
        background-color:rgb(182, 147, 147);
    } */
    .footerbox{
        margin-left: 22px;
     }
    /* .footer-box h3{
        margin-top: 12px;
    } */
    .icons i{
        display: inline-block;
        color: black;
        padding-left: 33px;
        margin-top: 12px;
        font-size: 18px;
        transition: all 0.7s ease;
        
    }
    .icons i:hover{
        color: black;
        transform: rotate(360deg);
    }
    /* .footerbox h3{
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 20px;
    } */
    .footerbox li a{
        display: block;
        color: black;
        font-size: 30px;
        list-style-type: none;
        margin-bottom: 5px;
    }
    .footer-box li a:hover{
        color: black;
    }
    .fot{
        padding-left: 25rem;
    }
    .scroll-btn{
        position: fixed;
        bottom: 2.4rem;
        right: 3.3rem;
    }
    .scroll-btn i{
        font-size: 1rem;
        color:black;
        padding: 10px;
        background-color: rgb(193, 222, 247);
        border-radius: 8px;
    }
    .scroll-link{
        background: rgb(238, 223, 194);
        font-size: 14px;
    } 
    .copyright{
        font-size: 16px;
        padding-top: 12px;
        padding-left: 25rem;
    }
    .top-link{
        font-size: 1.63rem;
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        background: rgb(236, 227, 204);
        width: 2.4rem;
        height: 2.3rem;
        display: grid;
        place-items: center;
        border-radius: .4rem;
        color: black;
        animation: bounce 2s ease-in-out infinite; 
          /* visibility: hidden;  
         z-index: -100; */
    }  
    .show-link{
        visibility: visible;
        z-index: 100;
    }  
    @keyframes bounce {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.4);
        }
        100%{
            transform: scale(1);
        }
        
    } 

}